# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
*.pt
*.pth
*.npy
*.csv
src/data/topology_dataset/real/

# Build Contexts
build/
dist/
*.so
*.dylib
*.o
*.a
.DS_Store

# Javascript
node_modules/
dist/
.next/

# Rust
target/
**/*.rs.bk

# OCaml
_build/
*.cmo
*.cmi
